<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="text-white">User Details</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>MobileNo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of userList; track $index) {
                            <tr>
                                <td>{{ user.userId }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.mobileNo }}</td>
                            </tr>
                        }
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>